.collectionsContainer {
  flex: 2;

  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}
.collectionContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  background-color: transparent;
  margin-right: 10px;
  padding: 20px 0;
 
}
.imagesContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bigCollection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  min-width: 273px;
  border-radius: 16px;
}
@media (max-width: 600px) {
  .bigImage {
    max-width: 273px !important;
  }
  .bigCollection {
    max-width: 273px;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
.bigImage {
  border-radius: 16px;
}
.iconContainer {
  max-width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 16px;
}
.image {
  width: 100%;

  transition: all ease 0.5s;
}
.image:hover {
  transform: scale(1.1);
}
.descriptionContainer {
  display: flex;
  color: transparent;
  width:150px;
  justify-content:center;
  text-align:center
  
}

.name {
  color: black;
  font-size: 18px;
  font-weight: 900;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
}
.title {
  font-size: 24px;
  display: flex;
  justify-content: center;

  padding: 60px 0;
  width: 100%;
  background-color: transparent;
  font-weight: 900;
  color: black;
}

.title2 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  width: 100%;
  margin-right: 50px;
  background-color: white;
  font-weight: 900;
  color: black;
}
.upcomingCollection {
  background-color: white;
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upcomingImageContainer {
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}
.upcomingIconContainer {
  position: absolute;
  width: 90px;
  height: 90px;
  bottom: -40px;
  background-color: white;
  border-radius: 50%;

  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.upcomingIcon {
  width: 100%;
  border-radius: 50%;
}
.upcomingImage {
  width: 100%;
  border-radius: 0px;
}
.upcomingDescriptionContainer {
  margin-top: 40px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}
.upcomingName {
  text-align: center;
  margin-bottom: 0;
  font-weight: 700;
}
.logoContainer {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.upcomingCollectionContainer {
  border: 3px black solid;
  background-color: #99d98c;
  border-radius: 10px;
  transition: ease 0.25s;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upcomingCollectionContainer:hover {
  box-shadow: 2px 2px 12px black;
}
.upcomingCollectionsContainer {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.discordIcon {
  width: 24px;
}
