.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.tableContainer {
  background: #fff;
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 370px;
}

.rowContainer {
  display: flex;
  width: 30%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  border-bottom: 1px solid #eee;
  height: 70px;
  padding: 0 10px;
}
.rowContainer:hover {
  box-shadow: 1px 1px 3px;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .tableContainer {
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;
    overflow-y: scroll;
  }
  .rowContainer {
    width: 100%;
  }
}
.rowContainer:hover {
}
.mainContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  z-index: 5;
}
.tabsContainer {
  display: flex;
  justify-content: space-around;
  width: 200px;
  font-size: 18px;
}
.activeTab {
  border-bottom: 2px solid #17b5cb;
}

.tab {
  cursor: pointer;
}
.tab:hover {
  border-bottom: 2px solid #b0d9df;
}
.activeTab:hover {
  border-bottom: 2px solid #17b5cb;
}
.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.rank {
  margin-right: -0px;
}
.rankContainer {
  display: flex;
  width: 70px;
  justify-content: space-between;
}
.collectionName {
  width: 300px;
  margin-left: 10px;
}

.volume {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.volumeChangeP {
  color: green;
  margin-right: 10px;
  width: 60px;
}
.volumeChangeN {
  width: 60px;

  color: red;
  margin-right: 10px;
}
.volumeChange {
  margin-right: 10px;
  width: 60px;
}
.volumeChange,
.volumeChangeN,
.volumeChangeP {
  display: flex;
  justify-content: center;
}
