.allListingsContainer {
  display: flex;
  flex-direction: column;
}

.listingContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}
#image {
  width: 50px;
  height: 50px;
}
.profileImage {
  border-radius: 50%;
  width: 150px;
}
.profileContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}
.collectionName {
  font-size: 28px;
  font-weight: 600;
}

.activeTab,
.inactiveTab {
  padding: 15px 16px;
  border: none;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 120px;
  align-items: center;
}
.inactiveTab {
  color: black;
}
.activeTab {
  background-color: #fff;
  border-bottom: 3px #0074d9 solid;
}
.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: 1px #eee solid;
}
.hidden {
  display: none;
  max-height: 0;
}
.filtersTitle {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
  width: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 3px;
}
.filtersList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3px;
  background-color: rgb(229, 248, 223);
}

.filtersContainer {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  height: 660px;
  overflow-y: scroll;
}

.traitContainer {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.traitName {
  width: 30%;
}
.traitPercentage {
  width: 20%;
}
.listingsContainer {
  display: flex;
}

.topContainer {
  min-height: 250px;
  width: 100%;
}
.statsNumber {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
}

.statsText {
  margin: 0;
  font-size: 14px;
}

.statsBox {
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px black;
}

.statsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
