.allListingsContainer {
  display: flex;
  flex-direction: column;
}

.listingContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  flex-wrap: wrap;
  max-width: 100%;
}
#image {
  width: 50px;
  height: 50px;
}
.profileImage {
  border-radius: 50%;
  width: 150px;
}
.profileContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}
.collectionName {
  font-size: 28px;
  font-weight: 600;
}

.activeTab,
.inactiveTab {
  padding: 15px 16px;
  border: none;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 160px;
  align-items: center;
}
.inactiveTab {
  color: black;
  cursor: pointer;
  border-bottom: 3px #ffffff solid;
  box-sizing: border-box;
  transition: all 0.2s ease;
}
.inactiveTab:hover {
  border-bottom: 3px #b4d7f5 solid;
}
.activeTab {
  background-color: #fff;
  border-bottom: 3px #0074d9 solid;
}
.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-bottom: 1px #eee solid;
}
.hidden {
  display: none;
  max-height: 0;
}
.filtersTitle {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  align-items: center;
  width: 100%;
  cursor: pointer;
  box-shadow: 1px 1px 3px;
}
.filtersList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3px;
  background-color: rgb(195, 241, 245);
}

.filtersContainer {
  min-width: 300px;
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  overflow-y: scroll;
  height: 600px;
  position: sticky;
  bottom: 0;
  top: 72px;
}

.traitContainer {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.traitName {
  width: 110%;
}
.traitPercentage {
  width: 20%;
}
.listingsContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.topContainer {
  min-height: 250px;
  width: 100%;
}
.statsNumber {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
}

.statsText {
  margin: 0;
  font-size: 16px;
}

.statsBox {
  display: flex;
  flex-direction: column;
  width: 150px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px black;
  padding: 20px 10px;
  cursor: default;
}
.statsBox:hover {
  box-shadow: 1px 1px 4px;
}
.statsBox:first-child {
  border-radius: 5px;
  z-index: 0;
}
.statsBox:last-child {
  border-radius: 5px;
}

.statsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.noListingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.checkButton {
  width: 120px;
  padding: 20px 0px;
  margin-left: 40px;
  border: none;
  background-color: #17b5cb;
  box-shadow: 1px 1px 12px black;
  border-radius: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.noListingText {
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 600px) {
  .filtersContainer {
    height: 400px;
    margin-bottom: 100px;
    width: 100%;
    margin-left: 0px;
    position: relative;
    justify-self: flex-start;
    margin-top: -100px;
  }
  .listingsContainer {
    flex-wrap: wrap;
  }
  .tabs {
    overflow-x: scroll;
  }
}
