.container {
  justify-content: space-around;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  padding-top: 100px;
  color: white;
  background-color: black;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}
.containerLeft {
  max-width: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  min-width: 300px;
  min-height: 400px;
  z-index: 1;
}
.titleTextContainer {
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 1px black;
  height: 100%;
  width: 100%;
}
.mainTitle {
  font-size: 48px;
  font-weight: 600;
}
.mainTitleSmall {
  font-size: 36px;
  font-weight: 400;
}
.subtitle {
  font-size: 24px;
  width: 50%;
}
.button {
  width: 170px;
  padding: 20px 0px;
  margin-left: 40px;
  border: none;
  background-color: #17b5cb;
  box-shadow: 1px 1px 12px black;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}
.button:hover {
  background-color: lightblue;
  color: black;
}
.containerRight {
  width: 50%;
  height: 100%;
  min-height: 400px;
  display: flex;
  min-width: 300px;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}
.video {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.artFrame {
  height: 100%;
  width: 100%;
  background-color: transparent;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  min-width: 300px;
  margin-top: 70px;
}

.artFrame::-webkit-scrollbar {
  display: none;
}
.pictureFrame {
  background-color: white;
  box-shadow: 2px 2px 12px white;
  margin-left: 50px;
  border-radius: 10px;
}
.picture {
}
.pictureDetails {
  color: black;
  padding-left: 10px;
}
.pictureName {
  font-size: 15px;
  font-weight: 600;
}
.pictureCollection {
  font-size: 14px;
}
.collectionContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  background-color: transparent;
  margin-right: 10px;
  padding: 20px 0;
}
.imagesContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .mainTitle {
    font-size: 26px;
    font-weight: 600;
  }
  .mainTitleSmall {
    font-size: 20px;
    font-weight: 400;
  }
  .subtitle {
    font-size: 12px;
    width: 50%;
  }
  .buttonContainer {
    display: flex;
  }
  .button {
    width: 130px;
  }
}
