.container {
  justify-content: center;
  display: flex;
  width: 100%;
  min-height: 800px;
  background: url("/images/backgroundPaint.svg");
  background-size: cover;
  color: white;
  background-color: transparent;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
  align-items: center;
}
@media (max-width: 600px) {
  .container {
    background: url("/images/backgroundMobile.svg");
    background-size: cover;
  }
}
.containerLeft {
  max-width: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
  min-width: 300px;
  min-height: 400px;
  z-index: 1;
}
.titleTextContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.mainTitle {
  font-size: 42px;
  font-weight: 600;
  width: 70%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.mainTitleSmall {
  font-size: 36px;
  font-weight: 400;
}
.subtitle {
  font-size: 24px;
  width: 50%;
}
.button {
  width: 190px;
  padding: 20px 0px;
  margin-left: 40px;
  border: none;
  background-color: #17b5cb;
  box-shadow: 1px 1px 12px black;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: black;
}
@media (max-width: 600px) {
  .pictureFrame {
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .picture {
    max-width: 300px;
  }
}
.containerRight {
  width: 50%;
  height: 100%;
  min-height: 400px;
  display: flex;
  min-width: 300px;
  align-items: flex-start;
  justify-content: center;
  z-index: 2;
}
.video {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.twitterLogo {
  position: absolute;
  color: #17b5cb;
  bottom: 10px;
  font-size: 30px;
}
.artFrame {
  height: 100%;
  width: 100%;
  background-color: transparent;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.artFrame::-webkit-scrollbar {
  display: none;
}
.pictureFrame {
  background-color: white;
  box-shadow: 2px 2px 12px black;
  margin-left: 50px;
  border-radius: 10px;
}
.picture {
}
.pictureDetails {
  color: black;
  padding-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.pictureName {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
.pictureCollection {
  font-size: 14px;
}
.collectionContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
  background-color: transparent;
  margin-right: 10px;
  padding: 20px 0;
}
.imagesContainer {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .mainTitle {
    font-size: 26px;
    font-weight: 600;
  }
  .mainTitleSmall {
    font-size: 20px;
    font-weight: 400;
  }
  .subtitle {
    font-size: 12px;
    width: 50%;
  }
  .buttonContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .button {
    width: 130px;
  }
  .artFrame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .containerRight {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
