.allListingsContainer {
  display: flex;
  flex-direction: row;
}
.similarDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 13px;
  height: 95px;
  border-top: 1px solid #666;
  border-radius: 5px;
  margin-bottom: 10px;
}
.similarListingsContainer {
  margin: 0 5px 5px 0;
  background-color: transparent;
  box-shadow: 1px 1px 3px black;
  margin: 0 4px;
  transition: all 0.2s ease;
  border-radius: 10px;
  min-height: 200px;
}

.similarListingsContainer:hover {
  transform: translateY(-15px);
  box-shadow: 2px 2px 8px;
}
.similarListingsContainer:not(:first-child):hover {
}

.similarImageContainer {
  padding: 10px 10px;
  background-color: transparent;
  min-height: 292px;

  display: flex;
  align-items: center;
}
.similarImage {
  width: 220px;
  background-color: transparent;
}
.bottomImagesContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
  min-height: 100%;
  background-color: transparent;
}
.arrowContainerRight,
.arrowContainerLeft {
  position: absolute;
  display: flex;
  align-items: center;
  border-radius: 50%;
  right: 0px;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.arrowContainerLeft {
  left: 0;
}
.arrowContainerLeft:hover,
.arrowContainerRight:hover {
  background-color: rgba(0, 0, 0, 1);
}
@media (max-width: 600px) {
  .arrowContainerRight,
  .arrowContainerLeft {
    display: none;
  }
}
.bottomImagesContainer::-webkit-scrollbar {
  display: none;
}
.moreButton {
  width: 250px;
  background-color: #0074d9;
  color: white;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 460px;
  position: relative;
  background-color: transparent;
}
.nameDescription {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}
.collectionName {
  color: rgba(5, 5, 5, 0.6);
}
.title {
  color: black;
  font-size: 24px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  height: 70px;
}
.mainContainer {
  background-color: white;
}

.collectionName {
  color: rgba(5, 5, 5, 0.6);
  max-width: 150px;
}
.nameDescription {
  max-width: 130px;
}
.priceDescription {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.priceName {
  display: flex;
  justify-content: flex-end;
}
.priceQuantity {
}
