.allListingsContainer {
  display: flex;
  flex-direction: row;
}
.similarDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 10px 20px;
  border-top: none;
  font-weight: 500;
  font-size: 14px;
  height: 86px;
  border-top: 1px solid #666;
  border-radius: 5px;
}
.similarListingsContainer {
  margin: 0 5px 5px 0;
  background-color: transparent;
  box-shadow: -12px 1px 30px black;
  transition: all 0.2s ease;
  border-radius: 10px;
  min-height: 450px;
}

.similarListingsContainer:hover {
  transform: translateY(-8%);
}
.similarListingsContainer:not(:first-child):hover {
  margin-left: -5px;
}
.similarListingsContainer:hover ~ .similarListingsContainer {
  transform: translateX(10px);
}

.similarImageContainer {
  padding: 10px 10px;
  background-color: transparent;
  min-height: 364px;
  display: flex;
  align-items: center;
}
.similarImage {
  width: 250px;
  background-color: transparent;
}
.bottomImagesContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  position: relative;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.arrowContainerRight,
.arrowContainerLeft {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.arrowContainerLeft {
  left: 0;
}
.arrowContainerLeft:hover,
.arrowContainerRight:hover {
  background-color: rgba(0, 0, 0, 1);
}
.bottomImagesContainer::-webkit-scrollbar {
  display: none;
}
.moreButton {
  width: 250px;
  background-color: #0074d9;
  color: white;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 50px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}
.nameDescription {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.collectionName {
  color: rgba(5, 5, 5, 0.6);
}
.title {
  color: white;
  font-size: 32px;
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
}
