.container {
  max-height: 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top: 0;
  align-items: center;
  padding-left: 14px;
  box-shadow: 1px 1px 12px black;
  background-color: white;
  z-index: 4;
}

.logo {
  width: 100%;
  height: 72px;
}
.logoContainer {
  padding: 5px 0;
  padding-right: 0px;
}
.searchBar {
  max-width: 768px;
  height: 36px;
  width: 90%;
  border: none;
}
.searchBar:focus-visible {
  outline-width: 0;
}
.searchIconContainer {
  height: 36px;
  align-items: center;

  display: flex;
}
.searchResult {
  width: 40%;
  display: flex;
  align-items: center;
}
.upcomingLabel {
  background-color: red;
  color: white;
  padding: 5px;
}
.searchImage {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.textElement {
  padding: 0 20px;
  font-weight: 500;
  cursor: pointer;
}
.imgElement {
  height: 32px;
  padding: 0 20px;
}

.iconElement {
  width: 36px;
}

.textContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 33%;
  margin-right: 10px;
}

.inputContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  max-width: 768px;
  height: 40px;
  border-radius: 8px;
  width: 100%;
  border: 1px solid black;
}
.resultContainer {
  position: absolute;
  bottom: -203px;
  max-width: 768px;
  width: 100%;
  height: 200px;
  background-color: white;
  padding: 10px 10px;
  overflow-y: scroll;
  scrollbar-width: 0;
  box-shadow: 1px 1px 3px black;
  border-top: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.resultContainer::-webkit-scrollbar {
  display: none;
}
.searchCollectionSectionTitle {
  font-weight: 600;
  width: 100%;
  color: #666;
  border-bottom: 1px solid #666;
}

@media (max-width: 600px) {
  .textContainer {
    display: none;
  }
}

.hidden {
  display: none;
}

.exploreMenu {
  background-color: white;
  position: absolute;
  top: 60px;

  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 12px;
}
.menuLink {
  height: 80px;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.reference {
  height: 100%;
  overflow: hidden;
}

.invisibleCover {
  background-color: transparent;
  height: 150px;
  position: absolute;
  top: 0px;
  width: 130px;
  z-index: 5;
}
.exploreElement {
  display: flex;
  align-items: center;
  justify-content: center;
}
.elongatedElement {
}

.drawerContainer {
  position: fixed;
  top: 0px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: 250;
  display: flex;
}

.transparentCover {
  background-color: rgba(0, 0, 0, 0.2);
  flex: 4;
}
.drawer {
  flex: 1;
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.topDrawerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.drawerButtons {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 150px;
}
.drawerUser {
  color: rgb(39, 117, 235);
}
.currencyDrawer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 20px;
}
.transferButton {
  width: 90%;
  padding: 10px;
  border: none;
  background-color: rgb(44, 125, 231);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.assetDrawer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.assetImage {
  width: 90%;
}
.currencyInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.drawerTitle {
  text-align: center;
}
.logoutButton,
.loginButton {
  padding: 10px;
  border: none;
  font-weight: 600;
  background-color: #fff;

  border-radius: 5px;
  cursor: pointer;
}
.logoutButton:hover {
  background-color: black;
  color: white;
}
.refreshIcon {
  width: 50px;
}
.refreshIcon:hover {
  background-color: black;
  color: white;
  border-radius: 5px;
}
.inputTransfer {
  padding: 10px;
  margin: 10px;
}
.transferContainer {
  display: flex;
  align-items: center;
}
.depositButton {
  height: 50%;

  border: none;
  background-color: rgb(44, 125, 231);
  border-radius: 5px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.depositButton:hover {
  background-color: white;
  color: rgb(44, 125, 231);
  border: 1px solid rgb(44, 125, 231);
}
.betaLabel {
  background-color: #7ec2fa;
  color: white;
  padding: 5px 10px;
}
