.mainContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  max-width: 500px;
  min-width: 300px;
}
@media (max-width: 600px) {
  .image {
    max-width: 300px;
    min-width: 300px;
  }
}
.bottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1040px;
}
.bottomContainerTitle {
  display: flex;
  font-size: 21px;
  font-weight: 600;
  justify-content: flex-start;
}

.topContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.leftContainer {
  margin-right: 100px;
  padding: 20px 20px;
}
.photoContainer {
  display: flex;
  justify-content: center;
}
.chart {
  width: 500px;
  margin: 20px 0;
}
@media (max-width: 600px) {
  .chart {
    max-width: 100%;
  }
  .leftContainer {
    margin-right: 0px;
  }
  .infoContainer {
    margin-top: 20px;
  }
  .currentPricesTab {
    width: 100% !important;
  }
  .pastSalesTab {
    width: 100% !important;
  }
}
.infoContainerTitle {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  font-size: 12px;
  box-shadow: 1px 3px 8px black;
  background-color: black;
  margin: 0 0 0px 0;
  padding: 10px 0;
  color: black;
  z-index: 9999;
  display: none;
}

.tableContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 445px;
  overflow-y: scroll;
  padding: 0 0px;
  border-top: none;
}
.tableRow:nth-child(2n + 1) {
  background-color: #eee;
}
.tableTitle {
  text-align: center;
  font-weight: 600;
  background-color: #eee;
  padding: 20px 0;
  margin: 10px 0 0 0;

  border-bottom: none;
}
.tableRow {
  width: 100%;
  display: flex;
  justify-content: center;
}
.tableCell {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantityCell {
  flex: 1;
}
.tableImage {
  width: 30px;
}
.tableSeeMore {
  cursor: pointer;
  font-size: 16px;
  padding: 20px 0;
}
.tableSeeMore:hover {
  background-color: #fff;
  color: black;
}
.hidden {
  display: none;
}
.tabRow {
  display: flex;
  align-content: end;
  width: 100%;
  justify-content: space-between;
}
.tabContainer {
  background-color: #fff;
  box-shadow: 0px 1px 5px black;
}
.tabContainerAsset {
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0px 1px 5px black;
}
.inactiveTab,
.activeTab {
  padding: 10px 10px;
  width: 50%;
  text-align: center;
  margin: 0;
  border: 1px solid black;
}
.activeTab {
  background-color: #fff;
  border: 1px solid black;
  border-bottom: none;
}
.inactiveTab {
  background-color: #666;
  color: white;
  cursor: pointer;
}
.tabContent {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.currentPricesTab {
  width: 500px;
}
.pastSalesTab {
  width: 500px;
}
.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  background-color: white;
}

.buyButton {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #17b5cb;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
  margin: 10px 0;
  color: white;
  box-shadow: 1px 1px 3px black;
  margin-bottom: 20px;
}
.buyButton:hover {
  background-color: #2b618d;
  color: white;
  cursor: pointer;
}
.disabledButton {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #7ec2fa;
  font-weight: 500;
  font-size: 24px;
  border-radius: 5px;
  margin: 10px 0;
  color: white;
  box-shadow: 1px 1px 3px black;
  margin-bottom: 20px;
}
.priceContainer {
  padding: 5px 0;
  font-size: 30px;
  font-weight: 600;
}

.linkToUser {
  display: flex;
}
.sellInput {
  padding: 10px;
  width: 100%;
}
.similarDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 10px 20px;
  border-top: none;
  font-weight: 500;
  font-size: 14px;
  height: 80px;
  border-top: 1px solid #666;
}
.similarListingsContainer {
  margin: 0 5px 5px 0;
  background-color: black;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.similarListingsContainer:hover {
  box-shadow: 1px 1px 10px;
}
.similarImageContainer {
  padding: 10px 10px;
  background-color: white;
}
.similarImage {
  width: 250px;
  background-color: white;
}
.bottomImagesContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.traitContainer {
  display: flex;
  width: 230px;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 1px 1px 4px black;
  border-radius: 10px;
  background-color: #ffffff;
  color: black;
  border: 1px black solid;
}
.traitName,
.traitValue,
.traitRarity {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: center;
}
.traitName {
  font-weight: 700;
  color: black;
}
.traitsContainer {
  display: flex;
  width: 500px;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
}
.rankIdContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.elementID {
  font-size: 24px;
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
}

.elementRank {
  position: absolute;
  top: 23px;
  background-color: #17b5cb;
  color: white;
  right: -3px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px black;
}
.collectionName {
  color: rgba(5, 5, 5, 0.6);
  max-width: 150px;
}
.nameDescription {
  max-width: 130px;
}
.priceDescription {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.priceName {
  display: flex;
  justify-content: flex-end;
}
.nameDescription {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}
.errorContainer {
  position: fixed;
  bottom: 25px;
  width: 450px;
  padding: 0 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 5;
  box-shadow: 1px 1px 12px;
  text-align: center;
}
.mainError {
  font-size: 18px;
  font-weight: 600;
}
