.activeTab,
.inactiveTab {
  padding: 15px 16px;
  border: none;
  background-color: #fff;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 120px;
  align-items: center;
}
.inactiveTab {
  color: black;
}
.activeTab {
  background-color: #fff;
  border-bottom: 3px #0074d9 solid;
}
.tabsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  border-bottom: 1px #eee solid;
}
.tabsContainerSales {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 0px;
}
.activeTabSales {
  background-color: #fff;
  border-bottom: 3px #0074d9 solid;
}
.inactiveTabSales {
  color: black;
  margin: 0;
}
.activeTabSales,
.inactiveTabSales {
  margin: 0 40px;
}
.activeTabSales,
.inactiveTabSales:hover {
  font-weight: 600;
  cursor: pointer;
}
.allListingsContainer {
  display: flex;
  flex-direction: row;
}
.similarDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 10px 20px;
  border-top: none;
  font-weight: 500;
  font-size: 14px;
  height: 80px;
  border-top: 1px solid #666;
}
.similarListingsContainer {
  margin: 0 5px 5px 0;
  background-color: black;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
}
.similarImageContainer {
  padding: 10px 10px;
  background-color: white;
}
.similarImage {
  width: 250px;
  background-color: white;
}
.bottomImagesContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.moreButton {
  width: 250px;
  background-color: #0074d9;
  color: white;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 50px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nameDescription {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
.collectionName {
  color: rgba(5, 5, 5, 0.6);
}
.assetDisplayContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
}
.allListingsContainer {
  display: flex;
  flex-direction: row;
}
.similarDescription {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 10px 20px;
  border-top: none;
  font-weight: 500;
  font-size: 14px;
  min-height: 80px;
  border-top: 1px solid #666;
}
.similarListingsContainer {
  margin: 0 5px 5px 0;
  background-color: black;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
  position: relative;
  transition: all 0.25 ease;
}
.similarListingsContainer:hover {
  box-shadow: 1px 1px 12px;
}
.similarImageContainer {
  padding: 10px 10px;
  background-color: white;
  min-height: 200px;
}
.similarImage {
  width: 250px;
  background-color: white;
}
.bottomImagesContainer {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  flex-wrap: wrap;
}
.moreButton {
  width: 250px;
  background-color: #0074d9;
  color: white;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 50px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nameDescription {
  display: flex;
  flex-direction: column;
  max-width: 150px;
}
.collectionName {
  color: rgba(5, 5, 5, 0.6);
}
.inputFilter {
  padding: 10px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid black;

  outline-width: 0;
}
.filterTab {
  display: flex;
  width: 60%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.priceDescription {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.priceName {
  display: flex;
  justify-content: flex-end;
}
.priceQuantity {
}
.hidden {
  display: none;
}
.rankContainer {
  position: absolute;
  top: -10px;
  right: 0;
  background-color: white;
  padding: 5px;
  border-radius: 8px;
}
.soldLabel {
  background-color: red;
  color: white;
  padding: 2px;
  margin: 0;
}
.listedLabel {
  background-color: rgb(17, 207, 49);
  color: white;
  padding: 2px;
  margin: 0;
}
.priceLabel {
  color: black;
  padding: 2px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.pageListContainer {
  display: flex;
  width: 200px;
  justify-content: space-around;
}

.page {
  padding: 5px;
  cursor: pointer;
}
.pageActive {
  color: #0074d9;
  font-weight: 900;
  padding: 5px;
}

.pageContainer {
}
.pageDots {
  padding: 5px;
}
.tableContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0px;
  border-top: none;
}
.tableRow:nth-child(2n + 1) {
  background-color: #fff;
}
.tableTitle {
  text-align: center;
  font-weight: 600;
  background-color: #eee;
  padding: 20px 0;
  margin: 10px 0 0 0;

  border-bottom: 1px solid black;
}
.tableRow {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 3px 0;
  transition: all 0.25s ease;
}
.tableRow:hover {
  box-shadow: 1px 1px 8px;
}
.tableFirstRow {
  padding: 30px 0;
  border-bottom: 1px solid #666;
  font-weight: 600;
}
.tableFirstRow:hover {
  box-shadow: none;
}
.tableCell {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantityCell {
  flex: 1;
}
.nameCell {
  justify-content: flex-start;
  width: 25%;
}
.tableImage {
  width: 100px;
  margin-right: 25px;
}
.tableSeeMore {
  cursor: pointer;
  font-size: 16px;
  padding: 20px 0;
}
.tableSeeMore:hover {
  background-color: #fff;
  color: black;
}
.userId {
  font-size: 20px;
  font-weight: 600;
}
