html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
@font-face {
  font-family: "Poppins";
  src: url("../public/images/font/Poppins-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.panel0 {
  background-color: rgb(247, 57, 57) !important;
}
.panel2 {
  background-color: rgb(185, 54, 202) !important;
}
.panel3 {
  background-color: rgb(102, 193, 235) !important;
}
.panel7 {
  background-color: rgb(15, 127, 179) !important;
}
.panel8 {
  background-color: rgb(15, 127, 179) !important;
}
.panel9 {
  background-color: rgb(15, 127, 179) !important;
}
.panel10 {
  background-color: rgb(15, 127, 179) !important;
}
.panel11 {
  background-color: rgb(15, 127, 179) !important;
}
